node_modules/
native/book/book_test
native/book/book_test_asan
native/book/trace
native/book/trace3
native/book/trace_asan
native/book/bench
native/book/bench3
native/book/bookd
native/book/libbook.so
data/
*.log
native/book/commit_test
native/book/commit_test_asan
native/book/commit_trace
native/book/commit_bench
native/book/commit_bench3
